html,
body {
  height: 100%;
  background-color: $main-background-color;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  width: 100%;
  max-width: 64rem;
  padding: 2rem;
  margin: 0 auto;
  background-color: $main-background-color;
  color: $main-font-color;
    
}

.main img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  filter: brightness(50%) !important;
}

