.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #f00;
}
  
.footer .social a {
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
}
